.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 14px "open sans";
    width: 170px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #1a3255;
    @include animate (background-color);
    @include animate (color);
    &:hover {
        background-color: #1a3255;
        color: #fff;
    }
    .fas {
        margin: 0 0 0 6px;
    }
}